body {
    background-color: rgba(0, 0, 0, 0.397);
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* my style */
.container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    box-shadow: 5px 5px 10px 5px gray;
}
.top img {
    width: 120px;
    height: 120px;
    float: right;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0  0 2px rgb(60, 60, 83), 0 0 0 7px white;
    filter: brightness(120%);
}
.top {
    width: 100%;
    background-image: linear-gradient(90deg, rgb(64, 61, 110), rgb(16, 16, 53));
    color: white;
    padding-left: 30px;
}
.top h1 {
    letter-spacing: 5px;
}
.top h3 {
    margin-top: -20px;
    color: rgb(247, 37, 37);
}
.column {
    float: left;
}

.left {
    background-color: rgb(46, 46, 46);
    height: 900px;
    width: 40%;
}
.left img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2px;
    position: relative;
    transition: .3s;
}
.left img:hover {
    width: 150%;
    margin-left: -90px;
    position: relative;
    transition: .5s;
    box-shadow: 0 0 30px 10px black;
    padding: 0;
}
.hp h3 {
    padding-left: 10px;
    color: white;
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
}
.hp a {
    color: white;
    text-decoration: none;
}
.hp table {
    padding-top: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
}
.hp svg {
    width: 30px;
    height: 30px;
    transition: 1s;
}
.hp th {
    transition: 1s;
}
.hp tr:hover, svg:hover {
    font-weight: bold;
    font-size: 18px;
    transition: 1s;
}
.hp svg:hover {
    transform: scale(1.5) rotate(360deg);
}

.middle {
    padding-left: 20px;
    text-align: left;
    width: 60%;
    background-color: white;
    height: 895px;
}
.middle ul li {
    margin-left: -20px;
    padding-bottom: 10px;
}
.middle ul span {
    font-weight: bold;
}
.middle h2 {
    color: rgb(36, 120, 153);
    margin-bottom: 5px;
}
.middle hr {
    margin: 0;
    padding: 0;
    height: 5px;
    margin-right: 17px;
    background-color: rgb(36, 120, 153);
}
.middle a img {
    width: 100px;
    height: 150px;
    box-shadow: 5px 5px 10px -1px black, -5px -5px 10px -1px black;
    margin-right: 20px;
}
.middle a {
    text-decoration: none;
}
.right {
    padding-left: 20px;
    padding-right: 10px;
    text-align: justify;
    background-color: white;
}
.right h2 {
    color: rgb(98, 192, 230);
    margin-bottom: 5px;
}
.terakhir {
    font-size: 20px;
}
.right hr {
    margin: 0;
    padding: 0;
    height: 5px;
    background-color: skyblue;
}
.right ul li {
    margin-left: -20px;
}
.right a {
    text-decoration: none;
}
.right img {
    width: 380px;
    margin-top: 20px;
    box-shadow: 0 0 10px -1px black;
    transition: .3s;
}
.right img:hover {
    transform: scale(1.2);
}
.column2 {
    border-bottom: 5px solid rgb(46, 46, 46);
    height: 900px;
}

@media (max-width:1000px) {
    body {
        margin: 0;
        background-color: white;
    }
    .top img {
        width: 90px;
        height: 90px;
    }
    .container {
        margin: 0;
    }
    .top h1 {
        font-size: 20px;
        letter-spacing: 0;
        margin-top: 20px;
    }
    .column2 {
        border-bottom: 5px solid rgb(46, 46, 46);
        height: 700px;
    }
    .top h3 {
        margin: 0;
        font-size: 15px;
    }
    .left h3 {
        font-size: 15px;
    }
    .left img:hover {
        margin-left: 50%;
        padding: 0;
    }
    .hp svg {
        width: 20px;
        height: 20px;
    }
    .hp td {
        font-size: 10px;
    }
    .hp table {
        padding-left: 0;
    }
    .hp svg {
        transition: 0;
    }
    .hp tr:hover, svg:hover {
        width: 20px;
        height: 20px;
        font-weight: bold;
        font-size: 11px;
    }
    .middle {
        width: 60%;
        padding-left: 10px;
        padding-right: 10px;
        height: 695px;
    }
    .middle h2 {
        font-size: 18px;
    }
    .middle p {
        font-size: 11px;
    }
    .middle hr {
        margin-right: 0;
    }
    .middle a img {
        width: 40px;
        height: 80px;
    }
    .right {
        width: 100%;
        padding-left: 10px;
    }
    .right h2 {
        font-size: 18px;
    }
    .right p, ul li {
        font-size: 11px;
    }
    .right img {
        width: 170px;
        margin-top: 10px;
    }
    .right img:hover {
        transform: scale(1);
    }
    .left {
        height: inherit;
        width: 40%;
    }
    h2.terakhir {
        font-size: 15px;
    }
}
